body {
  background-color: #f3e5d8;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  color: #222222;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}

ul, ol {
  margin-bottom: 20px;
  padding-left: 25px;
}
